name: CD - Terraform Deploy (manual)

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag from CI"
        required: true

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:            ${{ secrets.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      - name: Terraform Init (S3 backend)
        working-directory: terraform
        run: terraform init -input=false

      - name: Terraform Plan
        working-directory: terraform
        run: |
          terraform plan \
            -var="ecr_repo=${{ secrets.ECR_REPO }}" \
            -var="image_tag=${{ github.event.inputs.image_tag }}" \
            -var="db_username=${{ secrets.DB_USERNAME }}" \
            -var="db_password=${{ secrets.DB_PASSWORD }}" \
            -var="app_keys=${{ secrets.APP_KEYS }}" \
            -var="admin_jwt_secret=${{ secrets.ADMIN_JWT_SECRET }}" \
            -var="jwt_secret=${{ secrets.JWT_SECRET }}" \
            -var="api_token_salt=${{ secrets.API_TOKEN_SALT }}" \
            -out=tfplan

      - name: Terraform Apply
        working-directory: terraform
        run: terraform apply -auto-approve tfplan

      - name: Terraform Outputs
        working-directory: terraform
        run: terraform output
