name: CD - ECS Blue Green Deploy (Manual)

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: "Docker image tag to deploy"
        required: true

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      ################################
      # Checkout
      ################################
      - name: Checkout repository
        uses: actions/checkout@v4

      ################################
      # AWS Credentials
      ################################
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id:     ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region:            ${{ secrets.AWS_REGION }}

      ################################
      # Setup Terraform
      ################################
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.0

      ################################
      # Terraform Init
      ################################
      - name: Terraform init
        working-directory: terraform
        run: terraform init -input=false

      ################################
      # Fetch Terraform Outputs
      ################################
      - name: Load Terraform outputs
        working-directory: terraform
        run: |
          DB_ENDPOINT="$(terraform output -raw rds_endpoint | tr -d '\n')"
          DB_HOST="$(echo "$DB_ENDPOINT" | cut -d':' -f1)"
          echo "DB_HOST=$DB_HOST" >> "$GITHUB_ENV"


      ################################
      # Generate Container Definition
      ################################
      - name: Generate container definition
        run: |
          cat <<EOF > container-def.json
          [
            {
              "name": "strapi",
              "image": "${{ secrets.ECR_REPO }}:${{ github.event.inputs.image_tag }}",
              "essential": true,
              "portMappings": [
                { "containerPort": 1337 }
              ],
              "environment": [
                { "name": "NODE_ENV", "value": "production" },
                { "name": "APP_KEYS", "value": "${{ secrets.APP_KEYS }}" },
                { "name": "ADMIN_JWT_SECRET", "value": "${{ secrets.ADMIN_JWT_SECRET }}" },
                { "name": "JWT_SECRET", "value": "${{ secrets.JWT_SECRET }}" },
                { "name": "API_TOKEN_SALT", "value": "${{ secrets.API_TOKEN_SALT }}" },
                { "name": "DATABASE_CLIENT", "value": "postgres" },
                { "name": "DATABASE_HOST", "value": "$DB_HOST" },
                { "name": "DATABASE_PORT", "value": "5432" },
                { "name": "DATABASE_NAME", "value": "strapi" },
                { "name": "DATABASE_USERNAME", "value": "${{ secrets.DB_USERNAME }}" },
                { "name": "DATABASE_PASSWORD", "value": "${{ secrets.DB_PASSWORD }}" }
              ]
            }
          ]
          EOF

      ################################
      # Validate JSON
      ################################
      - name: Validate container JSON
        run: jq . container-def.json

      ################################
      # Register ECS Task Definition
      ################################
      - name: Register ECS task definition
        run: |
          TASK_DEF_ARN=$(aws ecs register-task-definition \
          --family sandeep-strapi-task \
          --network-mode awsvpc \
          --requires-compatibilities FARGATE \
          --cpu "512" \
          --memory "1024" \
          --runtime-platform operatingSystemFamily=LINUX,cpuArchitecture=X86_64 \
          --execution-role-arn arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/sandeep-ecs-task-execution-role \
          --container-definitions file://container-def.json \
          --query 'taskDefinition.taskDefinitionArn' \
          --output text)

          echo "TASK_DEF_ARN=$TASK_DEF_ARN" >> "$GITHUB_ENV"

      ################################
      # Prepare AppSpec for CodeDeploy
      ################################
      - name: Prepare AppSpec file
        run: |
          cat <<EOF > appspec.yaml
          version: 1
          Resources:
            - TargetService:
                Type: AWS::ECS::Service
                Properties:
                  TaskDefinition: <TASK_DEFINITION>
                  LoadBalancerInfo:
                    ContainerName: "strapi"
                    ContainerPort: 1337
          EOF

          sed "s|<TASK_DEFINITION>|$TASK_DEF_ARN|g" appspec.yaml > appspec-final.yaml

      ################################
      # CodeDeploy Blue/Green Deployment
      ###############################

      - name: Deploy using CodeDeploy
        run: |
          APPSPEC_CONTENT=$(jq -Rs . < appspec-final.yaml)
      
          aws deploy create-deployment \
            --application-name sandeep-strapi-codedeploy \
            --deployment-group-name sandeep-strapi-dg \
            --revision "{
              \"revisionType\": \"AppSpecContent\",
              \"appSpecContent\": {
                \"content\": $APPSPEC_CONTENT
              }
            }"

      - name: Wait for CodeDeploy deployment
        run: |
          DEPLOYMENT_ID=$(aws deploy list-deployments \
            --application-name sandeep-strapi-codedeploy \
            --deployment-group-name sandeep-strapi-dg \
            --query 'deployments[0]' \
            --output text)

          aws deploy wait deployment-successful \
            --deployment-id $DEPLOYMENT_ID















